In [1]:
import pandas as pd
import numpy as np

In [3]:
ser = pd.Series(np.random.random(5), name="Column 01")
ser

0    0.326563
1    0.202549
2    0.999847
3    0.058882
4    0.893585
Name: Column 01, dtype: float64

In [6]:
from pandas_datareader import data as wb
from datetime import datetime

In [10]:
start = datetime(2015, 1, 1)
PG = wb.DataReader("PG", data_source="iex", start=start)
PG.head()

               open     high      low    close   volume
date
2015-01-02  79.7718  79.9123  78.9639  79.4205  7255494
2015-01-05  79.2361  79.9123  78.9024  79.0429  8626143
2015-01-06  79.3063  79.5259  78.3843  78.6828  7791195
2015-01-07  78.9814  79.3590  78.6500  79.0956  5986899
2015-01-08  79.4556  80.1099  79.1483  80.0001  6831617

In [11]:
PG.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1010 entries, 2015-01-02 to 2019-01-07
Data columns (total 5 columns):
open      1010 non-null float64
high      1010 non-null float64
low       1010 non-null float64
close     1010 non-null float64
volume    1010 non-null int64
dtypes: float64(4), int64(1)
memory usage: 47.3+ KB